.page {
  margin: 0 auto;
  background-color: #2A2C2F;
  width: 100%;
  font-family: 'Inter';
  padding-left: calc((100% - 1600px) / 2);
  padding-right: calc((100% - 1600px) / 2);
  box-sizing: border-box;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
